 .banner-area{
            width:100%;
            height:100vh;
            background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/a1.gif);
            background-size:cover ;
        }   
.grid-img{
            width:80%;
            height:auto;
            margin-left:40px;
            border-radius: 8px;
            box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            ;
        }  
.grid-img2{
            width:60%;
            height:auto;
            margin-left:40px;
            border-radius: 8px;
            box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            ;
        }                
 .content-area{
            height:100%;
            display:flex;
            justify-content: center;
            align-items: center;
        }
        
       .content{
            text-align: center;
        }
        
        .content h1{
            font-size:50px;
            color:#fff;
        }
        
        .content p{
            font-size:20px;
            color:#ddd;
        }
        
        .content .btn{
            display: inline-block;
            font-weight: bold;
            border:none;
            outline:none;
            text-decoration:none;
            padding:15px;
            margin-top:100px;
            border-radius: 4px;
            color:#2072fc;
            font-size: 18px;
            cursor: pointer;    
            background:#ffbd59;             
        }